
/* Variables */
@link_color: #00B7FF;
@font:  14px "Lucida Grande", Helvetica, Arial, sans-serif;
@habr_color: #996;
@input_text_height: 22px;

.rounded_corners (@radius: 5px) {
    -moz-border-radius: @radius px;
    -webkit-border-radius: @radius px;
    border-radius: @radius px;
}
.height_font_size(@ratio){
    font-size: @input_text_height/@ratio;
    line-height: @input_text_height/@ratio+8;
}

body {
    padding: 50px;
    width: 600px;
    margin: 0 auto;
    font: @font;
    a {
        color: @link_color;
    }
    .rounded_corners;
    #comments{
        background-color: #BADFE4;
        .rounded_corners(15);
        padding: 15px;
        .thread{
            &:hover>.re{
                display: inline;
            }
        }
        .thread .re{
            display: none;
            cursor: pointer;
            margin-left: 15px;
        }
        li{
            list-style-type: decimal;

        }
    }
}
.editor_inputs(){
    width: 90%;
    margin: 2px 5% 2px 5%;
    color: @habr_color;
}

#editor{
    background-color: #E6DE8D;
    padding: 15px;
    .rounded_corners(15);
    .author{
        .height_font_size(2);
        height: @input_text_height/2+8;
        .editor_inputs;
    }
    #message{
        .height_font_size(1);
        .editor_inputs;
    }
    #send{
        .height_font_size(1.4);
        .rounded_corners(6);
        float: right;
    }
    .preview{
        display: block;
    }
}

.clr{
    clear: both;
}
