
/* Variables */
@link_color: #00B7FF;
@font:  14px "Lucida Grande", Helvetica, Arial, sans-serif;
@habr_color: #996;
@input_text_height: 22px;

.cool_border (@radius: 5px) {
    margin: 20px 10px;
    padding: 25px 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #323232;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    -moz-border-radius: @radius px;
    -webkit-border-radius: @radius px;
    border-radius: @radius px;
}
.height_font_size(@ratio){
    font-size: @input_text_height/@ratio;
    line-height: @input_text_height/@ratio+8;
}

body {
    padding: 50px;
    width: 600px;
    font: @font;
    margin: 0 auto;
    a {
        color: @link_color;
    }
    #comments{
        .cool_border(15);
        padding: 15px;
        .thread{
            &:hover>.re{
                display: inline;
            }
        }
        .thread .re{
            display: none;
            cursor: pointer;
            margin-left: 15px;
        }
        li{
            list-style-type: decimal;
        }
    }
}
.editor_inputs(){
    width: 90%;
    margin: 2px 5% 2px 5%;
    color: @habr_color;
}

#editor{
    padding: 15px;
    .cool_border(15);
    .author{
        .height_font_size(2);
        height: @input_text_height/2+8;
        .editor_inputs;
    }
    #message{
        .height_font_size(1);
        .editor_inputs;
    }
    #send{
        .height_font_size(1.4);
        .cool_border(6);
        float: right;
        color: white;
    }
    .preview{
        display: block;
    }
    *{
        display: block;
    }
}

.clr{
    clear: both;
}