/* Variables */
body {
  padding: 50px;
  width: 600px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
body a {
  color: #00b7ff;
}
body #comments {
  margin: 20px 10px;
  padding: 25px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #323232;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 15 px;
  -webkit-border-radius: 15 px;
  border-radius: 15 px;
  padding: 15px;
}
body #comments .thread:hover > .re {
  display: inline;
}
body #comments .thread .re {
  display: none;
  cursor: pointer;
  margin-left: 15px;
}
body #comments li {
  list-style-type: decimal;
}
#editor {
  padding: 15px;
  margin: 20px 10px;
  padding: 25px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #323232;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 15 px;
  -webkit-border-radius: 15 px;
  border-radius: 15 px;
}
#editor .author {
  font-size: 11px;
  line-height: 19px;
  height: 19px;
  width: 90%;
  margin: 2px 5% 2px 5%;
  color: #999966;
}
#editor #message {
  font-size: 22px;
  line-height: 30px;
  width: 90%;
  margin: 2px 5% 2px 5%;
  color: #999966;
}
#editor #send {
  font-size: 15.714285714285715px;
  line-height: 23.714285714285715px;
  margin: 20px 10px;
  padding: 25px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #323232;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 6 px;
  -webkit-border-radius: 6 px;
  border-radius: 6 px;
  float: right;
  color: white;
}
#editor .preview {
  display: block;
}
#editor * {
  display: block;
}
.clr {
  clear: both;
}
